# Copyright (c) 2026 gcgbarbosa.com
# SPDX-License-Identifier: MIT

config SHIELD_CHARYBDIS363_LEFT
    def_bool $(shields_list_contains,charybdis363_left)

config SHIELD_CHARYBDIS363_RIGHT
    def_bool $(shields_list_contains,charybdis363_right)
